@use "src/globals/mixins.scss";

.navbar {
  height: var(--navbar-height);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--wics-pink);
  padding: 40px;
}

.links {
  display: flex;
  list-style: none;
  gap: 40px;
}

.sectionButton {
  font-size: 1.5rem;
  color: white;
  border: none;
  background: none;
  font-weight: 400;
}
